<header id="header" class="
            text-xl
            fixed top-4 left-1/2 transform -translate-x-1/2 
            text-white opacity-90
            flex justify-center items-center
            py-3 px-6
            w-auto max-w-[1120px] z-50 
            rounded-full
            transition-all duration-300">
  <nav class="flex flex-row gap-x-8 md:gap-x-10">
    <a routerLink="/" class="hover:text-blue-400">Inicio</a>
    <a routerLink="/divisas" class="hover:text-blue-400">Divisas</a>
    <a routerLink="/estadisticas" class="hover:text-blue-400">Mis Criptomonedas</a>
  </nav>
</header>
