<div class="hero z-50 md:mt-16">
  <div class="heroContainer md:grid md:grid-cols-12 gap-x-3 col-span-8 justify-items-center mb-4 items-center">
    <p class="text-3xl col-span-10 font-bold tracking-tight sm:text-6xl text-center md:px-0 md:mb-10">
      Divisas en tiempo real con <span class="block w-full py-2 text-transparent bg-clip-text leading-12 bg-gradient-to-r from-purple-700 to-blue-400 lg:inline">SimioExchange</span>
    </p>
    <p class="text-center text-4xl md:text-7xl md:w-auto md:h-28 col-span-2">🪙</p>
  </div>


  <p class="mt-8 text-xl lg:text-2xl text-wrap text-center opacity-90">
    Podrás conocer el precio actual de <span class="text-sky-400">las divisas más importantes</span> y así mismo sus <span class="text-sky-400">últimas estadísticas</span>. Conoce como se mueven el precio de las divisas por el 🌎.
  </p>

</div>
