<div class="hero z-50 md:mt-2">
  <div class="heroContainer md:grid md:grid-cols-12 gap-x-3 col-span-8 justify-items-center mb-4 items-center">
    <p class="text-3xl col-span-10 font-bold tracking-tight sm:text-6xl text-center md:px-0 md:mb-10">
      Divisas en tiempo real con <span class="block w-full py-2 text-transparent bg-clip-text leading-12 bg-gradient-to-r from-purple-700 to-blue-400 lg:inline">SimioCrypto</span>
    </p>
    <p class="text-center text-4xl md:text-7xl md:w-auto md:h-28 col-span-2">🪙</p>
  </div>

  <p class="mt-8 text-xl lg:text-2xl text-wrap text-center opacity-90">
    Podrás conocer el precio actual de <span class="text-sky-400">las criptomonedas en tendencia</span> y así mismo sus <span class="text-sky-400">últimas estadísticas</span>. Conoce como se mueve el mercado de las cripto monedas por el 🌎.
  </p>

  <div class="infoContainer mt-20 md:flex md:flex-row gap-7 p-3 md:p-0">
    <div class="card m-5 md:m-0">
      <a href="#" class="block max-w-sm h-80 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">¿Qué son las Cripto Monedas?</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Las criptomonedas son monedas digitales que utilizan criptografía para asegurar transacciones y controlar la creación de nuevas unidades. Funcionan en una red descentralizada, generalmente basada en tecnología blockchain. Ejemplos incluyen Bitcoin y Ethereum.</p>
      </a>
    </div>
    
    <div class="card m-5 md:m-0">
      <a href="#" class="block max-w-sm h-80 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">¿Cómo invertir en Cripto?</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Para invertir en criptomonedas, primero selecciona un intercambio de criptomonedas como Binance o Coinbase y crea una cuenta verificando tu identidad. Luego, deposita fondos mediante transferencia bancaria o tarjeta de crédito y compra la criptomoneda deseada. Es recomendable almacenar tus criptomonedas en una billetera digital segura para proteger tu inversión.</p>
      </a>
    </div>
  </div>

  <div class="infoContainer mt-7 p-3 md:p-0">
    <div class="card">
      <a href="https://www.coingecko.com/es/api" target="_blank" class="block h-40 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex items-center justify-center mb-4">
          <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Desarrollado gracias a CoinGecko</h5>
        </div>
        <p class="font-normal text-gray-700 dark:text-gray-400 text-center">
          Nuestra plataforma utiliza la API de CoinGecko, un servicio líder que proporciona datos en tiempo real sobre más de 10,000 criptomonedas. CoinGecko nos permite ofrecerte información precisa y actualizada sobre precios, volumen de mercado y tendencias de las criptomonedas más populares.
        </p>
      </a>
    </div>
  </div>
</div>
