<div class="absolute top-0 left-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(59,130,246,0.4),rgba(17,24,39,0.8))]"></div>

<div class="relative py-36 pb-32 w-full lg:w-[740px] mx-auto min-h-screen z-10">
  <app-header></app-header>

  <div class="heroContainer mb-4 flex items-center justify-center">
    <p class="text-3xl font-bold tracking-tight sm:text-6xl text-center md:px-0 md:mb-10">
      Criptomonedas Actuales
    </p>
  </div>

  <p class="mt-8 text-xl lg:text-2xl text-left opacity-90 mb-8">
    A continuación podrás ver el listado de criptomonedas en tendencia con sus valores actuales:
  </p>

  <form class="max-w-sm mx-auto mb-8">
    <label for="website-admin" class="block mb-2 text-sm font-medium text-white">Buscar por nombre:</label>
    <div class="flex">
      <span class="inline-flex items-center px-3 text-sm border border-e-0 rounded-s-md bg-gray-600 text-gray-400 border-gray-600">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-coin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1" /><path d="M12 7v10" /></svg>
      </span>
      <input [(ngModel)]="searchTerm" type="text" id="website-admin" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escribe el nombre...">
    </div>
  </form>  

  <div *ngIf="trendingCoins">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Logo</th>
            <th scope="col" class="px-6 py-3">Nombre</th>
            <th scope="col" class="px-6 py-3">Cap de Mercado</th>
            <th scope="col" class="text-center px-6 py-3">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coin of getTrendingCoins()" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="text-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <img [src]="coin.thumb" [alt]="coin.name" class="w-10 h-10"/>
            </td>
            <td class="px-6 py-4 font-bold">
              {{ coin.name }} ({{ coin.symbol.toUpperCase() }})
            </td>
            <td class="px-6 py-4">
              #{{ coin.market_cap_rank }}
            </td>
            <td class="px-6 py-4">
              {{ coin.data.price | number:'1.5-5' }} USD
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div *ngIf="!trendingCoins">
    <p class="text-gray-300">Cargando datos...</p>
  </div>
</div>
